accelerate>=0.26.0
certifi>=2022.12.7
datasets
fsspec==2025.3.2
librosa
PyYAML~=6.0.2
setuptools>=65.5.1
soundfile~=0.13
spacy
tensorboard
torch~=2.6
torchaudio==2.7.0
tqdm~=4.67.1
transformers>=4.25.0
wheel>=0.38.0
hf_xet~=1.1
